<%- include ("../partials/header") %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Create a New Restaurant</h1>
        <div style="width:30%; margin: 25px auto; ">
            <form action="/restaurants" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="image" placeholder="image ulr">
                </div>
                <div class="form-group">
                    <select name="province" class="form-control">
                        <option value="Novi Beograd">Novi Beograd</option>
                        <option value="Savski Venac">Savski Venac</option>
                        <option value="Stari Grad">Stari Grad</option>
                        <option value="Vo탑dovac">Vo탑dovac</option>
                        <option value="Vra훾ar">Vra훾ar</option>
                        <option selected value="Zemun">Zemun</option>
                        <option value="Zvezdara">Zvezdara</option>
                      </select>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="street" placeholder="street">
                </div>
                <div class="form-group">
                    <textarea style="height: 120px;" class="form-control" type="text" name="description" placeholder="description"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block">Submit!</button>
                </div>
            </form>
            <a href="/restaurants">Go Back</a>
        </div>
    </div>
</div>

<%- include ("../partials/footer") %>